<div class="row text-center wc">

    <div *ngFor="let item of listObject" class="col-md-6" [ngStyle]="{'background-image':'url(' + item.image + ')'}">

        <div class="mt30">
            <h3 class="postTittle">{{item.tittle}}</h3>
        </div>

        <div class="row ml40 mt20">
            <div class="col-md-12 d-flex justify-content-start">
                <p class=""> {{item.comments}} Comments</p><i class="ml10 fa fa-comments-o fa-3"></i>
            </div>
        </div>

        <div class="row mt10">
            <div class=" ml40 mr40 col-md-8 justify-text">
                {{item.description}}
            </div>
        </div>

        <div class="row mt45 mb30">
            <div style="font-size: 20px;" class="col-md-4">
                <span>{{item.category.toUpperCase()}}</span>
            </div>

            <div class="col-md-8 d-flex justify-content-end">
                <button type="button" class=" fs25 btn btnRad wc" (click)="editPost(item)"><i class="fa fa-pencil-square-o fa-3" aria-hidden="true"></i></button>
                <button class="fs25 btn btnRad wc" (click)="deletePost(item)"><i class="fa fa-trash fa-3" aria-hidden="true"></i></button>
            </div>
        </div>

    </div>

</div>
